<!-- редактирования существующего товара -->
<!DOCTYPE html>
<html>
<head>
	<title>Редактировать продукт</title>
</head>
<body>
	<h1>Редактировать продукт</h1>
	<form method="POST">
		{% csrf_token %}
		<label for="name">Название:</label>
		<input type="text" id="name" name="name" value="{{ product.name }}"><br><br>
		<label for="description">Описание:</label>
		<textarea id="description" name="description">{{ product.description }}</textarea><br><br>
		<label for="price">Цена:</label>
		<input type="number" id="price" name="price" value="{{ product.price }}"><br><br>
		<input type="submit" value="Save Changes">
	</form>
</body>
</html>