<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}

{% block content %}
    <h1>Заказы</h1>
    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Итог</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Тел</th>
                    <th>Адрес</th>
                    <th>Способ доставки</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.product.price }}</td>
                        <td>{{ order.quantity * order.product.price }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.email }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.delivery_method }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас нет заказов.</p>
    {% endif %}
{% endblock %}
</body>
</html>