<!-- отображения списка товаров -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
</head>
<body>
    <h1>Список продуктов</h1>

    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>